<div ng-show="!article.isEditing">

    <a href="{{article.link | externalLink}}" ng-show="article._id" >{{article.name}}</a>
    <span ng-show="!article._id">New Article</span>
    <div class="btn-controls">
        <button class="btn btn-edit"
                ng-class="{'btn-info':article._id, 'btn-primary':!article._id}"
                ng-click="toggleEdit(article)">
            <span ng-show="article._id">Edit</span>
            <span ng-show="!article._id">Add</span>
        </button>
    </div>
</div>

<div ng-show="article.isEditing">

    Name
    <input class="form-control" ng-model="article.name">
    Link
    <input class="form-control" ng-model="article.link">

    <div class="btn-controls">
        <button class="btn btn-success" ng-click="update(article)">Save</button>
        <button class="btn btn-info" ng-click="toggleEdit(article)">Cancel</button>
        <button class="btn btn-danger" ng-click="removeArticle(article)" ng-show="article._id">X</button>
    </div>
</div>